* {
    margin: 0;
    padding: 0;
    background-color: aqua;
  }
  
  .animation_loader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow:hidden;
  }
  
  div {
    border: 10px solid #4b4b4b;
    animation: animate 18s linear infinite;
    box-shadow: -4px 4px 24px 4px #fff;
  }
  
  @keyframes animate {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  