@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap");

@import url("fonts.css");
@import url("reset.css");

body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #091133;
}

h1 {
  line-height: 3;
}

h1 {
  font-size: 28px;
  font-weight: 900;
  text-align: center;
  letter-spacing: 3px;
  color: rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
  white-space: nowrap;
}
footer h3 {
  text-align: center;
}
header {
  margin-bottom: 100px;
}
.homework {
  margin-bottom: 100px;
}

/* HomeWork 1 START*/
.homework1-container {
  max-width: 539px;
  margin: 0 auto;
}

.homework1-title {
  font-size: 50px;
  font-weight: 500;
  line-height: 1.32;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
.homework1-text {
  margin-bottom: 69px;
}
.homework1-text > p {
  color: #505f98;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.67;
  line-break: normal;
}
/* Тест, шукаємо ліпше рішення */
.additional-padding {
  margin-bottom: 14px;
}

.homework1-buttons {
  font-weight: 500;
  line-height: 1.63;
  font-size: 0;
}
.homework1-buttons > a {
  font-size: 16px;
  width: 189px;
  height: 36px;
  border-radius: 2px;
  text-align: center;
}
.homework1-button-style1 {
  color: #fff;
  background: #111b47;
  margin-right: 30px;
  padding: 5px 10px;
}
.homework1-button-style2 {
  border: 2px solid #091133;
  padding: 3px 10px 7px 10px;
}
/* HomeWork 1 END*/

/* HomeWork 2 START*/
.homework2-container {
  max-width: 520px;
  margin: 0 auto;
}
.homework2-text-container {
  margin-bottom: 70px;
}
.homework2-title {
  font-size: 36px;
  font-weight: 500;
  line-height: 1.33;
  margin-bottom: 16px;
}

.homework2-text > p {
  color: #6f7cb2;
  font-weight: 400;
  line-height: 1.62; /* 162.5% */
}
/* Тест, шукаємо ліпше рішення */
.additional-padding2 {
  margin-bottom: 10px;
}
.homework2-articles {
  max-width: 520px;
}
.homework2-articles-container {
  margin-inline: -15px;
  font-size: 0;
}
.homework2-article {
  display: inline-block;
  width: 50%;
  min-height: 138px;
  margin-bottom: 30px;
  padding-inline: 15px;
  vertical-align: top;
}
.homework2-article-image {
  margin-bottom: 14px;
}
.homework2-article-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  margin-bottom: 6px;
}
.homework2-article-text {
  color: #5d6970;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
}
/* HomeWork 2 END */

/* HomeWork 3 START */

/* HomeWork 3 END */
