/* Import fonts.google.com */
@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap");

/* Import reset.css */
@import url("reset.css");

/* Start Main CSS */
body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    color: #091133;
}

main {
    max-width: 800px;
    margin: 0 auto;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 15px;
}

/* End Main CSS */

/* Start HomeWork Level 1 */
h1 {
    line-height: 3;
}

h1 {
    font-size: 35px;
    text-align: center;
    letter-spacing: 3px;
    color: rgba(0, 0, 0, 0.8);
    text-transform: uppercase;
    white-space: nowrap;
    padding-bottom: 100px;
}

.homework1-container {
    margin: 0 auto;
}

.homework1-title-logo {
    font-size: 50px;
    font-weight: 500;
    line-height: 1.32;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.homework1-text-main {
    margin-bottom: 69px;
}

.homework1-text-main>p {
    color: #505f98;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.67;
    line-break: normal;
}

/* BUTTONS */
.homework1-buttons {
    font-weight: 500;
    line-height: 1.63;
    font-size: 0;
}

.homework1-buttons>a {
    font-size: 16px;
    width: 189px;
    height: 36px;
    border-radius: 2px;
    text-align: center;
}

.homework1-button-1 {
    color: #fff;
    background: #111b47;
    margin-right: 30px;
    padding: 5px 10px;
}

.homework1-button-2 {
    border: 2px solid #091133;
    padding: 3px 10px 7px 10px;
}

/* End HomeWork Level 1 */

/* Start HomeWork Level 2 */
.landing-items {
    margin-inline: -15px;
    font-size: 0;
    padding-top: 50px;
}

.landing-item {
    width: 50%;
    display: inline-block;
    margin-block-end: 30px;
    padding-inline: 15px;
    font-size: 16px;
}

.homework2 {
    margin: 0 auto;
    padding-top: 100px;
}

.text {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}
.logo-homework2{
    font-size: 30px;
}
/* End HomeWork Level 2 */

/* Start HomeWork Level 3 */
.homework3 {
    background-color: #141414;
    font-family: "Manrope", sans-serif;
    color: #999;
    font-size: 18px;
    line-height: 1.5;
 }
 
 .homework3 h2 {
    color: #fff;
    font-size: 38px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 700;
    margin-block-end: 14px;
 }
 .section-dark-title {
    margin-block-end: 80px;
 }
 .container{
    padding: 30px;
    margin: 0 auto;
 }
 
 .section-items {
    max-width: 1597px;
    margin: 0 auto;
 }
 .content {
    font-size: 18px;
    padding: 50px;
    border-radius: 12px;
    border: 1px solid #262626;
    background: linear-gradient(222deg, rgba(229, 0, 0, 0.50) -208.03%, rgba(229, 0, 0, 0.00) 41.32%), #0F0F0F;
 }
 .item{
    width: 33.333%;
    display: inline-block;
    margin-block-end: 30px;
    padding-inline: 15px;
 
 }
 .items {
    margin-inline: -15px;
    font-size: 0;
 }
 .content-item {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin-block-end: 30px;
 }
 .content-first-item {
    margin-block-end: 70px;
 }
 
 .content-item img {
    display: inline-block;
    vertical-align: middle;
    padding: 16px;
    border-radius: 12px;
    border: 1px solid #1F1F1F;
    background: #141414;
    margin-inline-end: 16px;
 }
 .text {
    margin-block-end: 15px;
    font-size: 16px;
 }
 .content-item h3 {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
 }
 
/* End HomeWork Level 3 */