/* Import fonts.google.com */
@import url("https://fonts.googleapis.com/css?family=Manrope:regular,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Epilogue:regular,800&display=swap");

/* Import reset.css */
@import url("reset.css");

/* Start Main CSS */
body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

footer {
	font-size: 25px;
	padding: 25px 15px 20px;
	text-align: center;
	font-weight: 700;
	color: #fff;
	background: rgb(235, 165, 14);
	background: linear-gradient(0deg, rgba(235, 165, 14, 1) 0%, rgba(28, 211, 213, 1) 100%);
}

/* End Main CSS */

/* Start HomeWork Level 1 */
.page-1 {
	font-size: 18px;
	font-family: "Manrope", sans-serif;
	color: #999;
	background-color: #141414;
}

.page-1-wrap {
	background: linear-gradient(180deg, #141414 0%, rgba(20, 20, 20, 0.00) 100%) left top / 100% 580px repeat-x, linear-gradient(180deg, rgba(20, 20, 20, 0.00) 0%, #141414 100%) left bottom / 100% 580px repeat-x, url("background.png") center top / cover no-repeat;
}

.page-1-img {
	max-width: 1626px;
	margin: 0 auto;
	padding: 195px 15px;
	text-align: center;
}

.page-1-img img {
	max-width: 470px;
}

.page-1-text {
	max-width: 1126px;
	margin: -64px auto 0;
	padding: 0 15px 60px;
	text-align: center;
	line-height: 1.5;
}

.page-1-text .text {
	margin-bottom: 50px;
}

.page-1-text h2 {
	margin-bottom: 13px;
	font-weight: 700;
	font-size: 58px;
	line-height: 1.5;
	color: #fff;
}

.button {
	margin-bottom: 40px;
	padding: 18px 24px;
	font-weight: 600;
	line-height: 1.5;
	color: #fff;
	border-radius: 8px;
	background-color: #e50000;
}

.icon span {
	display: inline-block;
	padding-left: 32px;
	background: url("icon.png") no-repeat;
}

/* End HomeWork Level 1 */

/* Start HomeWork Level 2 */
.page-2 {
	font-family: "Epilogue", sans-serif;
	color: #391400;
	background-color: #fdf0e9;
}

.page-2 .container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

.block-features {
	margin: 0 -15px;
	padding: 80px 0 50px;
	font-size: 0;
}

.block-features .description,
.block-features .image {
	display: inline-block;
	width: 50%;
	padding: 0 15px;
	vertical-align: middle;
	font-size: 16px;
}

.block-features .holder {
	width: 90%;
}

.block-features .sub-title {
	display: block;
	margin-bottom: 20px;
	line-height: 2;
	letter-spacing: 3px;
	text-transform: uppercase;
	color: #ef6d58;
}

.block-features h2 {
	margin-bottom: 27px;
	font-weight: 800;
	font-size: 56px;
	line-height: 1.142;
	letter-spacing: -1px;
}

.block-features p {
	margin-bottom: 30px;
	font-size: 20px;
	line-height: 1.6;
}

.block-features ul {
	margin-bottom: 30px;
}

.block-features ul li {
	margin-bottom: 14px;
	padding-top: 2px;
	padding-left: 48px;
	line-height: 2;
	color: rgba(57, 20, 0, 0.639);
	background: url("check.png") no-repeat;
}

.block-features .image {
	text-align: right;
	padding-bottom: 62px;
}

/* End HomeWork Level 2 */